<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <task>
            <general>
                <checkout_redirect>1</checkout_redirect>
                <block_title>My Awesome Title</block_title>
            </general>
        </task>
    </default>
</config>
